/* You can add global styles to this file, and also import other style files */


//font
@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

//colors
$purple : #4C148B;
$pinkPurple: #8E1876;
$pink:#D91C5E;
$orange:#EA4134;
$orangeYellow:#FE6E01;

html {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
}